# IDEs
/.vscode/
/.idea/

# Maven Build Files
/.classpath
/.factorypath
/.project
/.settings/
/target/

# LaTeX Auxiliary Files
/docs/*.aux
/docs/*.loc
/docs/*.lof
/docs/*.log
/docs/*.toc
/docs/*.out

# TeXworks Sync Files
/docs/*.synctex.gz

# LaTeX Output Files
/docs/*.pdf
