# <!--- NetBeans --->
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
/nb-configuration.xml

# <!--- Classes --->
*.class

# <!--- Packages  --->
*.jar
*.war
*.ear

# <!--- Debugging --->
*.log

# <!--- LaTeX --->
*.aux
*.idx
*.ilg
*.ind 
*.toc
*.pdf
